* {
	font-family: Avenir,Helvetica,Arial,sans-serif;
}

.title {
	text-transform: none !important;
}

h2.title.list-title {
	font-weight: 500;
	font-family: Avenir,Helvetica,Arial,sans-serif;
}

.title.site-title {
    font-family: Avenir,Helvetica,Arial,sans-serif;
}

.title.single-title {
	font-weight: 500;
	font-family: Avenir,Helvetica,Arial,sans-serif;
}

h1 {
	font-weight: 400;
	font-family: Avenir,Helvetica,Arial,sans-serif;
	font-size: 1.5em;
}

h4 {
	font-weight: 400;
}